<back-button-component />

<form [formGroup]="userForm" (ngSubmit)="editUser()">
  <label for="username" [class]="!validField('username') ? '' : 'text-red-400'">
    Username
    <input type="text" formControlName="username" />
  </label>

  <label
    for="firstName"
    [class]="!validField('firstName') ? '' : 'text-red-400'"
  >
    First name
    <input type="text" formControlName="firstName" />
  </label>

  <label for="lastName" [class]="!validField('lastName') ? '' : 'text-red-400'">
    Last name
    <input type="text" formControlName="lastName" />
  </label>

  <label for="email" [class]="!validField('email') ? '' : 'text-red-400'">
    Email
    <input type="email" formControlName="email" />
  </label>

  <label for="phone" [class]="!validField('phone') ? '' : 'text-red-400'">
    Phone
    <input type="text" formControlName="phone" />
  </label>

  <button type="submit">Save</button>
</form>
